.toggle-checkbox {
  display: none;
}

.filter-toggle .filter-content {
  display: none;
}

.toggle-checkbox:checked + .filter-toggle .filter-content {
  display: block;
}
.toggle-checkbox:checked + .filter-toggle .filter-cards {
  width: 100%;
}
@media (max-width: 480px) {
  .toggle-checkbox:checked + .filter-toggle .filter-cards {
    width: 50%; /* Adjust width as needed */
  }
}

.grid-class {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
